
@import "./node_modules/bootstrap/dist/css/bootstrap.css";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";

body{
    text-align: center;
    background-image: url('../images/blackjack-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
#casino{
    text-align: center;
    background-image: url('../images/Baccarat.gif');
    background-repeat: no-repeat;
    background-size:cover;
}
#games{
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}
#dealer-cards img{
    width: 8%;
    margin: 2px;
}
#your-cards img{
    width: 8%;
    margin: 2px;
}

#baccarat{
    text-align: center;
    background-image: url('../images/Baccarat.png');
    background-repeat: no-repeat;
    background-size:cover;  
}

#board{
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 1%;
}
.row{
    height: 500px;
}

#board img{
    width: 15%;
}
#player{
    background-color: #0d6efda3;
    padding: 2%;
}
#banker{
    background-color: #ff003480;
    padding: 2%;
}
#bet-buttons{
    margin-top: 10%;
}

.home{
    margin: 1% 0 5% 75%;
}